<p>actkeys-list works!</p>
<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search by title"
            [(ngModel)]="title"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              
            >
            <!-- (click)="searchTitle()" -->
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>actkeys-list List</h4>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let actkey of actkeys; let i = index"
            [class.active]="i == currentIndex"
            (click)="goActkeyDetail(actkey)"  
          >
            {{ actkey.actkey }}
          </li>
        </ul>
    
        <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllAgents()"> -->
        <button class="m-3 btn btn-sm btn-danger">
          Remove All
        </button>
      </div>
      <div class="col-md-6">
        <!-- <app-agent-details -->
          <!-- [viewMode]="true" -->
          <!-- [currentAgent]="currentAgent" -->
        <!-- ></app-agent-details> -->
      </div>
</div>