<p>agent-details works!</p>
<h4>Agent</h4>
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
        >
        <!-- (click)="searchTitle()" -->
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Third Party Application List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let thirdpartyApp of thirdpartyApps; let i = index"
        [class.active]="i == currentIndex"
      >
      {{ thirdpartyApp.name }}
        
      </li>
    </ul>
  </div>
</div>